name: Backend Pipe

on:
  push:
    paths:
        - 'backend/**'
        - '.github/workflows/backend.yml'

permissions:
  checks: write
  contents: read
  packages: write

defaults:
  run:
    working-directory: backend

jobs:
  gradle-build:
    name: test & build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout sources
      uses: actions/checkout@v5
    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: 25
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
    - name: Build with Gradle
      run: ./gradlew build
    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v5
      if: success() || failure() # always run even if the previous step fails
      with:
        report_paths: '**/build/test-results/test/TEST-*.xml'

  docker-build:
    name: build docker image
    runs-on: ubuntu-latest
    needs: gradle-build
    steps:
    - name: Checkout sources
      uses: actions/checkout@v5
    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: 25
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
    - name: Build Docker Image
      run: ./gradlew bootBuildImage --imageName=ghcr.io/edikwalta/playground-be:latest
    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Push Docker Image
      run: docker push ghcr.io/edikwalta/playground-be:latest